.boton{
    background-color: $colorTres;
    color: $colorUno;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0;
    border-radius: 30px;
    width: 130px;
    transition: all .3s ease-in-out;
}

.boton:hover{
    background-color: $colorCuatro;
}

.submit{
    background-color: $colorTres;
    color: $colorUno;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 0;
    border-radius: 30px;
    border: 1px solid $colorUno;
    width: 130px;
    transition: all .3s ease-in-out;
}

.submit:hover {
    background-color: $colorCuatro;
}

.reset{
    background-color: $colorUno;
    color: $colorCuatro;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 0;
    border-radius: 30px;
    border: 1px solid $colorUno;
    width: 130px;
    transition: all .3s ease-in-out;
}

.reset:hover{
    background-color: $colorCuatro;
    color: $colorUno;
}

.botonera{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding: 30px 0px 20px 0px;
}